@use '../foundation/variables'as v;

.swiper {
  margin: 0 0 3.5rem;
}

.swiper-slide {
  width: 80%;

  @include v.mq(no-sp) {
    width: 58%;
  }
}

.swiper-pagination {
  position: relative;
  margin: 1.25rem 0 0 0;
}

.swiper-pagination-bullet {
  opacity: 0.25;
  width: 1.875rem;
  height: 0.25rem;
  transition: all 0.3s ease;
  background-color: v.$c-black;
  border-radius: 0%;
}

.swiper-pagination-bullet-active {
  opacity: 0.75;
}