@use '../foundation/variables'as v;

.c-section-title {
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2rem;
  font-family: v.$f-en-sub;
  line-height: 1.0;

  @include v.mq(no-sp) {
    font-size: 3rem;
    margin: 0 0 3rem;
  }
}

.c-section-title::after {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  background-color: v.$c-text;
  width: 3rem;
  height: 1px;

  @include v.mq(no-sp) {
    top: 4rem;
    width: 4rem;
  }
}

.c-section-sub-title {
  font-size: 1rem;
  text-align: center;
  margin: 0 0 1rem;

  @include v.mq(no-sp) {
    font-size: 1.5rem;
    margin: 0 0 1.5rem;
  }
}