@use '../foundation/variables'as v;

.footer {
  background-color: v.$c-blue;
  padding: 3.625rem 0 2.5rem;

  @include v.mq(no-sp) {
    padding: 4.8125rem 0 5rem;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 17.7rem;
  margin: 0 auto 4rem;

  @include v.mq(no-sp) {
    flex-direction: row;
    gap: clamp(0.1rem, 4.76vw, 4rem);
    width: 37.75rem;
  }
}

.footer__button {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 16rem;
  height: 2.5rem;
  background-color: v.$c-text;
  border-radius: 60px;
  font-size: 0.8125rem;
  color: v.$c-white;
  font-weight: 700;

  @include v.mq(no-sp) {
    margin: 1rem 0 auto 0;
  }
}

.footer__button:hover {
  opacity: 0.8;
}

.footer__button::after {
  content: '\F1C5';
  position: absolute;
  left: 13.5rem;
  font-family: v.$f-icon;
}

.footer__logo {
  margin: 0 0 0.625rem;
  font-size: 1rem;
  line-height: 1.0;
}

.footer__address {
  font-size: 0.875rem;
  line-height: 2.0;
}

.footer__copy {
  display: block;
  font-size: 0.625rem;
  text-align: center;
}