@use '../foundation/variables'as v;

.about {
  padding: 1.25rem 2.5rem;

  @include v.mq(no-sp) {
    padding: 2rem 4rem;
  }
}

.about__lead {
  font-size: 0.875rem;
  margin: 0 0 1rem;

  @include v.mq(no-sp) {
    font-size: 1rem;
    margin: 0 0 1.5rem;
  }
}

.about__comment {
  font-size: 0.75rem;
  margin: 0 0 1rem;

  @include v.mq(no-sp) {
    font-size: 1rem;
    margin: 0 0 1.5rem;
  }
}