@use '../foundation/variables'as v;

.footer {
  display: flex;
  justify-content: center;
  padding: 1erm 0px;

  @include v.mq(no-sp) {
    padding: 2rem 0px;
  }
}

.footer__copy {
  text-align: center;
  font-family: v.$f-en-sub;
  font-size: 0.625rem;
  color: v.$c-gray;

  @include v.mq(no-sp) {
    font-size: 0.75rem;
  }
}